In [13]:
import pandas as pd

In [18]:
df = pd.read_excel('DSB - Energy.xlsx', sheet_name="LONDON")

In [19]:
df.head()

,Coluna1,borough,year,Domestic_Electricity,Domestic_Gas,Domestic_Coal,Domestic_Oil,Domestic_Bioenergy_and_waste,Domestic_Total,Industrial_Electricity,...,Industrial_Bioenergy_and_waste,Industrial_Total,Aviation,Shipping,Railways_Diesel,Railways_Electric,Road_Transport-fossil_fuels,Road_Transport-electric,Transport_Total,Grand_total
0,NaN,Barking and Dagenham,2015,269462331,699182399,5294950,2520748,976460429,391064075,346064851,...,772136548,0,9229235,6173389,44999223,545257137,605658986,2354255964,NaN,NaN
1,NaN,Barnet,2015,629736914,2069329823,5055311,8434761,2712556811,518872019,438364830,...,1077281319,916178,0,19614625,80507189,1585028091,1686066084,5475904214,NaN,NaN
2,NaN,Bexley,2015,386392855,1191886736,6213847,5886652,1590380091,407062466,386358598,...,1244679229,37484528,6743132,3191701,20703867,764485997,832609227,3667668547,NaN,NaN
3,NaN,Brent,2015,429968379,1460664670,3647177,5047780,1899328008,582598502,482632338,...,1146803730,1352294,0,32386800,99966164,845243433,978948692,4025080431,NaN,NaN
4,NaN,Bromley,2015,566559808,1976662616,6732455,13553040,2563507921,431429375,382177795,...,905803756,5696134,0,2763415,49251580,1028435459,1086146589,4555458267,NaN,NaN

In [24]:
df['key_borough'] = df.apply(lambda x: '%s_%s' % (x['year'], x['borough'].lower()), axis = 1)

In [25]:
df.head()

,Coluna1,borough,year,Domestic_Electricity,Domestic_Gas,Domestic_Coal,Domestic_Oil,Domestic_Bioenergy_and_waste,Domestic_Total,Industrial_Electricity,...,Industrial_Total,Aviation,Shipping,Railways_Diesel,Railways_Electric,Road_Transport-fossil_fuels,Road_Transport-electric,Transport_Total,Grand_total,key_borough
0,NaN,Barking and Dagenham,2015,269462331,699182399,5294950,2520748,976460429,391064075,346064851,...,0,9229235,6173389,44999223,545257137,605658986,2354255964,NaN,NaN,2015_barking and dagenham
1,NaN,Barnet,2015,629736914,2069329823,5055311,8434761,2712556811,518872019,438364830,...,916178,0,19614625,80507189,1585028091,1686066084,5475904214,NaN,NaN,2015_barnet
2,NaN,Bexley,2015,386392855,1191886736,6213847,5886652,1590380091,407062466,386358598,...,37484528,6743132,3191701,20703867,764485997,832609227,3667668547,NaN,NaN,2015_bexley
3,NaN,Brent,2015,429968379,1460664670,3647177,5047780,1899328008,582598502,482632338,...,1352294,0,32386800,99966164,845243433,978948692,4025080431,NaN,NaN,2015_brent
4,NaN,Bromley,2015,566559808,1976662616,6732455,13553040,2563507921,431429375,382177795,...,5696134,0,2763415,49251580,1028435459,1086146589,4555458267,NaN,NaN,2015_bromley

In [30]:
df['key_borough'] = df['key_borough'].str.replace(" ", "_")

In [34]:
df['Coluna1'] = df['key_borough']

In [35]:
df.head()

,Coluna1,borough,year,Domestic_Electricity,Domestic_Gas,Domestic_Coal,Domestic_Oil,Domestic_Bioenergy_and_waste,Domestic_Total,Industrial_Electricity,...,Industrial_Total,Aviation,Shipping,Railways_Diesel,Railways_Electric,Road_Transport-fossil_fuels,Road_Transport-electric,Transport_Total,Grand_total,key_borough
0,2015_barking_and_dagenham,Barking and Dagenham,2015,269462331,699182399,5294950,2520748,976460429,391064075,346064851,...,0,9229235,6173389,44999223,545257137,605658986,2354255964,NaN,NaN,2015_barking_and_dagenham
1,2015_barnet,Barnet,2015,629736914,2069329823,5055311,8434761,2712556811,518872019,438364830,...,916178,0,19614625,80507189,1585028091,1686066084,5475904214,NaN,NaN,2015_barnet
2,2015_bexley,Bexley,2015,386392855,1191886736,6213847,5886652,1590380091,407062466,386358598,...,37484528,6743132,3191701,20703867,764485997,832609227,3667668547,NaN,NaN,2015_bexley
3,2015_brent,Brent,2015,429968379,1460664670,3647177,5047780,1899328008,582598502,482632338,...,1352294,0,32386800,99966164,845243433,978948692,4025080431,NaN,NaN,2015_brent
4,2015_bromley,Bromley,2015,566559808,1976662616,6732455,13553040,2563507921,431429375,382177795,...,5696134,0,2763415,49251580,1028435459,1086146589,4555458267,NaN,NaN,2015_bromley

In [36]:
df.to_excel('energy.xlsx')